{% extends 'layouts/base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block extrastyle %}
  <link rel="stylesheet" href="{% static 'assets/css/project.css' %}">
{% endblock extrastyle %}

{% block content %}
  {% if project in request.user.projects.all %}
    {% if not project.tasks %}
    {% else %}

      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <h5>{{ project.name }} project {% if request.user in project.managements.all %}
                <a href="{% url "projects:project_admin" project.id %}">(Admin settings)</a>{% endif %}</h5>
              <a href="{% url "projects:task_create" %}">
                <button type="button" class="btn btn-outline-success"> New task</button>
              </a>
            </div>
            <div class="crew-members">
              <div class="col-sm-12">
                <span>Filter by: </span>
                <form action="">
                  {{ filter_form|crispy }}
                  <button type="submit" class="btn btn-info">Filter</button>
                </form>
              </div>
            </div>
            <form action="" method="post" novalidate>
              {{ InviteNewMemberForm|crispy }}
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-info">Invite new member</button>
            </form>
            <div class="card-block">
              <div class="container">
                <div class="column">
                  <div class="column-header">To Do</div>
                  {% for task in tasks.all %}
                    {% if task.status == "To do" %}
                      <div class="card">
                        <a href="{% url "projects:task_detail" task.id %}">
                          <div class="card-title">{{ task.title }}</div>
                          <div class="card-text"><strong>Deadline:</strong> {{ task.deadline }}</div>
                          <div class="card-text"><strong>Priority:</strong> {{ task.priority }}</div>
                          <div class="card-text"><strong>Assigned To: </strong>{{ task.assigned_to }}</div>
                          <div class="card-text"><strong>Task Type: </strong> {{ task.task_type }}</div>
                        </a>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <div class="column-header">In Progress</div>
                  {% for task in tasks %}
                    {% if task.status == "In progress" %}
                      <div class="card">
                        <a href="{% url "projects:task_detail" task.id %}">
                          <div class="card-title">{{ task.title }}</div>
                          <div class="card-text"><strong>Deadline:</strong> {{ task.deadline }}</div>
                          <div class="card-text"><strong>Priority:</strong> {{ task.priority }}</div>
                          <div class="card-text"><strong>Assigned To: </strong>{{ task.assigned_to }}</div>
                          <div class="card-text"><strong>Task Type: </strong> {{ task.task_type }}</div>
                        </a>
                        <br>
                        <form action="" method="post" novalidate>
                          {% csrf_token %}
                          <select name="status" class="form-control">
                            {% for option, value in TaskQuickStatusChangeForm.fields.statuses.choices %}
                              <option value="{{ option }}"
                                      {% if TaskQuickStatusChangeForm.instance.statuses == option %}selected{% endif %}>{{ value }}</option>
                            {% endfor %}
                          </select>
                        </form>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <div class="column-header">In testing</div>
                  {% for task in tasks %}
                    {% if task.status == "In testing" %}
                      <div class="card">
                        <a href="{% url "projects:task_detail" task.id %}">
                          <div class="card-title">{{ task.title }}</div>
                          <div class="card-text"><strong>Deadline:</strong> {{ task.deadline }}</div>
                          <div class="card-text"><strong>Priority:</strong> {{ task.priority }}</div>
                          <div class="card-text"><strong>Assigned To: </strong>{{ task.assigned_to }}</div>
                          <div class="card-text"><strong>Task Type: </strong> {{ task.task_type }}</div>
                        </a>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
                <div class="column">
                  <div class="column-header">Done</div>
                  {% for task in tasks.all %}
                    {% if task.status == "Done" %}
                      <div class="card">
                        <a href="{% url "projects:task_detail" task.id %}">
                          <div class="card-title">{{ task.title }}</div>
                          <div class="card-text"><strong>Deadline:</strong> {{ task.deadline }}</div>
                          <div class="card-text"><strong>Priority:</strong> {{ task.priority }}</div>
                          <div class="card-text"><strong>Assigned To: </strong>{{ task.assigned_to }}</div>
                          <div class="card-text"><strong>Task Type: </strong> {{ task.task_type }}</div>
                        </a>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% else %}
    <h4>You are not a participant of this project. To see tasks you need to be a member of the project!</h4>
  {% endif %}


{% endblock content %}
