{% extends 'layouts/base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}

  {% if request.user in object.managements.all %}
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>General settings {{ object.name }}</h5>
          </div>
          <div class="card-block">
            <h3>General info</h3>
            <form action="" method="post">
              {% csrf_token %}
              {{ form|crispy }}
              <button type="submit" class="btn btn-info">Save</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- [ Main Content ] end -->
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Change team</h5>
          </div>
          <div class="card-block">
            <h3>Current members</h3>
            <form action="" method="post">
              {{ MemberForm|crispy }}
              {% csrf_token %}
              <button type="submit" class="btn btn-info">Delete from the project</button>
            </form>

          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Project managements</h5>
          </div>
          <div class="card-block">
            <h3>Current members</h3>
            <form action="" method="post">
              {{ ManagementForm|crispy }}
              {% csrf_token %}
              <button type="submit" class="btn btn-info">Delete from the managements</button>
            </form>

          </div>
          <div class="card-block">
            <h3>Current members</h3>
            <form action="" method="post">
              {{ management_invitation_form|crispy }}
              {% csrf_token %}
              <button type="submit" class="btn btn-info">Invite to the managements</button>
            </form>

          </div>
           <form action="" method="post" novalidate>
              {{ InviteNewMemberForm|crispy }}
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-info">Invite new member</button>
            </form>

        </div>
      </div>
    </div>


  {% else %}
    <p>You are not allowed to been here</p>
  {% endif %}


{% endblock content %}